@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import "./variables.scss";

body {
  background-color: $light;
  background-color: lighten($color: $primary, $amount: 5%);
  font-family: "Roboto Condensed", sans-serif;
}
