//sizes
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.8rem;
$l-size: 2.4rem;
$xl-size: 3rem;

//colors
$primary: #e3e3e3;
$danger: #ff8c8c;
$secondary: #283845;
$dark: #202c39;
$light: #bfd7ea;
$success: #178600;
$info: #438eff;
$warning: #701516;

//break-points
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
