//sizes
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.8rem;
$l-size: 2.4rem;
$xl-size: 3rem;

//colors bootstrap
$primary: #e3e3e3;
$danger: #ff8c8c;
$secondary: #283845;
$dark: #202c39;
$light: #bfd7ea;
$success: #178600;
$info: #438eff;

//colors languages
$warning: #701516;
$javascript: #f1e05a;
$python: #3572a5;
$java: #b07219;
$cplusplus: #6866fb;
$c: #438eff;
$php: #4f5d95;
$chash: #178600;
$shell: #89e051;
$go: #00add8;
$typescript: #2b7489;
$vue: #2c3e50;
$ruby: #701516;
$arduiono: #007678;
$objective-c: #438eff;
$plpgsql: #dad8d8;

//break-points
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
